body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}


.profile-container {
  margin-top: 30px;
}

.profile-pic {
  display: block;
  margin: 40px auto 20px auto; 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  z-index: 1;
  position: relative;
}

header {
  position: relative;
  z-index: 10;
  padding: 20px;
  background-color: white; 
  color: white;
  text-align: center;
}

.highlight {
  color: #007acc;
}

section {
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section h2 {
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #aaa;
  padding-bottom: 5px;
}

section ul {
  list-style-type: square;
  padding-left: 20px;
}


h2 {
  color: #007acc;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    .about, .skills, .projects {
        padding: 20px;
    }
}
